:root {
    --gradient-pink: 228, 210, 216;
    --gradient-purple: 166, 165, 196;
    --frame-col: 42, 24, 37;

}

body{
    margin: 0;
}


/* PAGE HEADER */
header{
    background-color: rgba(var(--frame-col), 0.6);
}
header > section{
    justify-content: space-evenly;
}
header .icon.menu, header .icon.search{
    width: auto;
    height: 30px;
}
header .icon.bag{
    width: auto;
    height: 33px;
    margin-top: -5px;
}



.search-bar{
    height: fit-content;
    padding: 0.5em;
    align-items: center;
}
.search-bar form{
    display: none;
}
.company-name{
    text-wrap: nowrap; 
}


nav{
    color: white;
    display: none;

}
@media (min-width:580px) { 
    header{
        display: block;
    }
    nav{
        display: flex;
        justify-content: space-evenly;
    }
    .icon.menu{
        display: none;
    }
    .search-bar{
        background-color: white;
    }
    .search-bar form{
        display: inline;
    }
    
}


/* PAGE CONTENT */
main{

    background: linear-gradient(rgb(var(--gradient-pink)), rgb(var(--gradient-purple)));
    background-repeat: no-repeat;

    /* temp: */
    min-height: 100vh; 
    height: fit-content;

}

/* PAGE FOOTER */
footer{
    background-color: rgba(var(--frame-col), 0.6);
    color: white;

    /* temp to remove whitespace: */
    padding-top: 1em;
    padding-bottom: 1em;
}
.footer-nav > div{
    display: flex;
}
footer .icon {
    width: 30px;
    height: 30px;
}

