:root {
    --mobile-header-height: 4em;
    --desktop-header-height: 120px;
    --desktop-nav-height: 40px;

    --nav-num-elems: 5;
}   

body{
    margin: 0;
    background-color: rgba(var(--frame-col), 1);
}


/* PAGE HEADER */
header{
    position: fixed;
    top: 0;
    z-index: 1;
}
header > section{
    width: 100vw;
    height: var(--mobile-header-height);
    justify-content: space-evenly;
    background-color: rgba(var(--frame-col), 0.3);
    backdrop-filter: blur(5px);
}

.icon.menu, header .icon.search{
    width: auto;
    height: 30px;
}
.icon.bag{
    width: auto;
    height: 33px;
    margin-top: -5px;
}

.header-controls{
    gap: 3vw;
}

header .search-bar{
    height: 30px;
    align-items: center;
    border-radius: 5px;
}
header .search-bar input{
    display: none;
    height: 28px;
    border: 0px;
    width: 20vw;
    border-radius: 5px 0 0 5px;
    background-color: rgba(0, 0, 0, 0);
    padding: 3px 0 0 0;
    color: white;
    outline: none;
}
header .search-bar :focus{
    background-color: rgba(255, 255, 255, 0.2);
}

.company-name{
    text-wrap: nowrap; 
}


nav{
    position: fixed;
    left: -50vw;
    width: 50vw;
    height: calc(100vh - var(--mobile-header-height));
    color: rgb(var(--accent-col));

    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    transition: left 0.7s;
}
nav a{
    display: block;
    white-space: nowrap;
}
nav.open{
    left: 0;
}
.dropdown-content{
    display: block;
    position: fixed;
    height: calc(100vh - var(--mobile-header-height));
    width: 0;
    left: 50vw;
    bottom: 0;
    transition: width 0.7s;

    /*  temporary */
    background-color: rgba(60, 60, 60, 0.4);
    
}
.dropdown-content.open{
    width: 50vw;
}

.dropdown-content a{
    visibility: hidden;
    opacity: 0;
    transition-duration: 0.2s;
}
.dropdown-content a.open{
    visibility: visible;
    opacity: 1;
}



@media (min-width:580px) {  
    header{
        display: block;
    }
    .header-background{
        height: var(--desktop-header-height);
    }
    header > section{
        height: var(--desktop-header-height);
    }
    nav{
        width: 100vw;
        display: flex;
        justify-content: center;
        color: white;
        left: 0;
        height: var(--desktop-nav-height);
        background-color: rgba(var(--frame-col), 0.5);
        line-height: var(--desktop-nav-height);
        font-weight: 600;
    }
    nav a{
        display: block;
        text-align: center;
    }
    nav > a{
        height: 100%;
    }

    .dropdown-content{
        height: 0;
        visibility: hidden;
        pointer-events: none;
        display: none;
        width: calc(100vw/var(--nav-num-elems));
        top: calc(var(--desktop-nav-height));
        left: auto;
        transition: height 0.3s;
        
    }
    .dropdown-content.open{
        display: block;
        visibility: visible;

    }
    .dropdown-content a{
        transition-duration: 1s;
    }

    .icon.menu{
        display: none;
    }
    header .search-bar{
        background-color: rgba(255, 255, 255, 0.2);
    }
    .header-controls{
        gap: 3vw;
    }
    header .search-bar input{
        display: block;
        padding-left: 0.8em;
    }
    header .search-bar div{
        background-color: white;
        border-radius: 0 5px 5px 0;
        width: 40px;
    }
    .icon.search{
        width: 22px !important;
        height: auto;
        margin: 0 auto;
        display: block;
    }



}


/* PAGE CONTENT */
main::before{
    content:"";
    position: absolute;
    width: 100%;
    background-color: rgba(var(--frame-col), 0.6);
    
    height: var(--mobile-header-height);

}
main{
    background: linear-gradient(rgb(var(--gradient-pink)), rgb(var(--gradient-purple)));
    background-repeat: no-repeat;
    min-height: 100vh; 
    height: fit-content;

}

@media (min-width:580px) { 
    main::before{
        content:"";
        height: calc(var(--desktop-header-height) + var(--desktop-nav-height));
 
    }
}

/* PAGE FOOTER */
footer{
    color: white;
    background-color: rgba(var(--frame-col), 0.6);
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    font-size: 16px;
    font-weight: 600;
}
footer > section{
    margin-inline: auto;
    width: 75vw;
    padding-top: 3em;
}
.footer-nav{
    display: flex;
    flex-direction: column;
    padding-top: 1.2em;
    letter-spacing: 1px;
}
.footer-nav > div{
    display: flex;
    margin-inline: auto;
    align-items: center;
    justify-content: space-between;
    width: inherit;
    height: 2.75em;
    max-width: inherit;
}
.footer-nav a{
    display: block;
}
footer .icon {
    width: auto;
    height: 20px;
}


.newsletter {
    margin-bottom: 3em;
}
.newsletter > p{
    margin-bottom: 1.2em;
    letter-spacing: 1px;
    margin: 0 0 15px 0;
}
.newsletter .email-input{
    align-items: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: space-between;
    width: 75vw;
    margin-bottom: 0.8em;
    
    height: 30px;
    line-height: 30px;
    border: solid 1px white;
}
.newsletter .email-input input{
    height: 30px;
    border: none;
    padding: 3px 0 0 0;
    width: 55vw;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    text-indent: 10px;
    color: white;
    outline: none;
}
.newsletter .email-input :focus{
    background-color: rgba(255, 255, 255, 0.2);
}
#email-submit{
    background-color: white;
    width: 20vw;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
}
#email-submit a{
    color: rgb(var(--frame-col))
}
.privacy-policy{
    gap: 0.5em;
}
.privacy-policy input{
    width: 20px;
    height: 20px;
}
.privacy-policy label{
    font-size: 12px;
    font-weight: 400;
    display: block;
    text-align: left;
    width: fit-content;

}
.privacy-policy a{
    color: gold;
}

.socials{
    justify-content: center;
    gap: 2.8em;
}
.socials img{
    height: 28px;
    width: auto;
}

.attribution{
    font-weight: 400;
    font-size: 10px;
    text-align: center;
}

@media (min-width:580px) { 
    footer{
        flex-direction: row;
        flex-wrap: wrap;
        font-size: 24px;
        justify-content: center;
        column-gap: 15vw;
        margin-inline: auto;
        width: 80vw;
        max-width: 1200px;
        padding-top: 1.8em;
    }
    footer > section{
        width: 35vw;
        max-width: 400px;
        margin: 0;
        padding-top: 0 !important;
    }
    .footer-nav div{
        height: 2.2em;
    }

    .newsletter {
        margin-bottom: 3em;
    }
    .newsletter p{
        line-height: 2.2em;
    }
    .newsletter .email-input{
        width: 35vw;
        max-width: 400px;
    }
    .privacy-policy label{
        font-size: 16px;
    }

    .socials{
        justify-content: space-around;
    }
    .socials img{
        height: 38px;
        width: auto;
    }

    .attribution{
        padding-top: 2em;
        font-size: 14px;
    }


}