:root {
    --gradient-pink: 228, 210, 216;
    --gradient-purple: 166, 165, 196;
    --frame-col: 42, 24, 37;
    --nav-slide: 215, 191, 199;
    --accent-col: 40, 41, 97;

    --mobile-header-height: 4em;
    --desktop-header-height: 6em;
    --desktop-nav-height: 2em;
}

body{
    margin: 0;
}


/* PAGE HEADER */
header{
    position: fixed;
    top: 0;
    z-index: 1;
}
header > section{
    width: 100vw;
    height: var(--mobile-header-height);
    justify-content: space-evenly;

    background-color: rgba(var(--frame-col), 0.3);
    backdrop-filter: blur(5px);
}

.icon.menu, header .icon.search{
    width: auto;
    height: 30px;
}
.icon.bag{
    width: auto;
    height: 33px;
    margin-top: -5px;
}



.search-bar{
    height: fit-content;
    align-items: center;
    border-radius: 5px;
}
.search-bar form{
    display: none;
}
.search-bar input{
    height: 30px;
    border: 0px;
    /* invisible bg */
    background-color: rgba(0, 0, 0, 0);
}
.company-name{
    text-wrap: nowrap; 
}


nav{
    left: -50vw;
}
nav a{
    display: none;
}
nav.mobile-open{
    position: fixed;
    width: 50vw;
    height: calc(100vh - var(--mobile-header-height)) !important;

    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);

    left: 0;
    transition: 0.75s;
}
nav.mobile-open a{
    display: block;
}



@media (min-width:580px) { 
    header{
        display: block;
    }
    .header-background{
        height: var(--desktop-header-height);
    }
    header > section{
        height: var(--desktop-header-height);
    }
    nav{
        position: fixed;
        width: 100vw;
        display: flex;
        justify-content: space-evenly;
        color: white;
        left: 0;
        height: var(--desktop-nav-height);

        background-color: rgba(var(--frame-col), 0.5);
    }
    nav a{
        display: block;
    }
    

    .icon.menu{
        display: none;
    }
    .search-bar{
        background-color: white;
    }
    .search-bar form{
        display: inline;
    }


}


/* PAGE CONTENT */
main::before{
    content:"";
    position: absolute;
    width: 100%;
    background-color: rgba(var(--frame-col), 0.6);
    
    height: var(--mobile-header-height);

}
main{

    background: linear-gradient(rgb(var(--gradient-pink)), rgb(var(--gradient-purple)));
    background-repeat: no-repeat;

    /* temp: */
    min-height: 100vh; 
    height: fit-content;

}

@media (min-width:580px) { 
    main::before{
        content:"";
        height: calc(var(--desktop-header-height) + var(--desktop-nav-height));
 
    }
}

/* PAGE FOOTER */
footer{
    color: white;
    background-color: rgba(var(--frame-col), 0.6);

    /* temp to remove whitespace: */
    padding-top: 1em;
    padding-bottom: 1em;
}
.footer-nav > div{
    display: flex;
}
footer .icon {
    width: 30px;
    height: 30px;
}

