body {
    color: #282961;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
}

.product-box {
    width: calc(50% - 20px); /* Set width to 50% of the container width minus padding */
    max-width: 300px;
    height: auto;
    margin-top: 2em;
    padding-top: 1em;
    text-align: center;
    /*glassmorphism effect*/
    background: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0);
    /*glassmorphism effect*/
}

h1 {
    font-family: "Oxanium", sans-serif;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}

h2 {
    font-family: "Oxanium", sans-serif;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
}

h3 {
    font-family: 'Sudo Var';
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}

@media (min-width:580px) { 
    /* tablets */ 

    .products {
        padding: 2em;
    }

    .product-box {
        width: calc(33.33% - 2em); /* Set width to one-third of the container width minus padding for large desktop */
        margin-top: 2em;
        padding-top: 1em;    
    }

    h1 {
        font-size: 16px;
    }
    
    h2 {
        font-size: 12px;
    }
    
    h3 {
        font-size: 16px;
    }
}

@media (min-width:1024px) { 
    /* big landscape tablets, laptops, and desktops */ 

    .products {
        padding: 4em;
    }

    .product-box {
        width: calc(25% - 4em); /* Set width to one-third of the container width minus padding for large desktop */
        margin-top: 4em;
    }

    h1 {
        font-size: 18px;
    }
    
    h2 {
        font-size: 14px;
    }
    
    h3 {
        font-size: 18px;
    }
}