:root {
    --mobile-header-height: 4em;
} 
.company-logo{
    height: calc(var(--mobile-header-height)/3)
}

.wide-center {
    width: 90vw;
    margin-inline: auto;

}

.layer-imgs{
    height: 90vw;
}
.layer-imgs img{
    width: auto;
    height: 90vw;
    display: block;
    position: absolute;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel{
    display: flex;
    overflow-x: scroll;
    white-space: nowrap;
}

.product-card{
    width: 70vw;
    text-align: center;
}
.tile-bg{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    border: solid 1px white;
    backdrop-filter: blur(10px);
}

.white-tile-bg{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 12px;
    border: solid 1px white;
}

.product-card img{
    width: 35vw;
}

.grid{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.consoles img{
    width: 40vw;
}

.blog-post{
    width: 90vw;
    justify-content: space-around;
}
.blog-post img{
    width: 40vw;
}
.blog-post > div{
    width: 40vw;
}
 
.icon{
    width: 30px;
}

#filter-desktop{
    display: none;
}

#filter-mobile{
    justify-content: space-between;
}

.space-content{
    justify-content: space-between;
}

.products{
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.products div{
    width: 40vw;
}
.products img{
    width: 20vw;
}

.cart-product{
    position: relative;
    padding: 1em;
    gap: 1em;
    margin-bottom: 1em;
    z-index: 1;
}
.cart-product > div{
    width: 50vw;
    height: 50%;
}
.cart-product img{
    width: 20vw;
}

.cart-product h2, .cart-product h3{
    margin: 0;
}

.small-inline-sp{
    padding-inline: 2em;
}
.med-inline-sp{
    padding-inline: 4em;
}

.med-inline-margin{
    margin-inline: auto;
    width: 90%;
}

.bold-button{
    height: 4em;
    border-radius: 12px;
    margin-block: 1em;
}

.bg-img{
    z-index: 0;
    position: absolute;
    scale: 0.75;
    margin-top: 8px;
}

.express-checkout {
    flex-wrap: wrap;
    justify-content: space-between;
}
.express-checkout button {
    height: 50px;
    border: none;
    border-radius: 4px;
}
.express-checkout img {
    height: 20px;
}
.express-checkout button{
    border-radius: 4px;
}
.express-checkout button:nth-child(1){
    width: 100%;
}
.express-checkout button:nth-child(2), .express-checkout button:nth-child(3){
    width: 49%;
    margin-top: 5px;
}

form ::placeholder{
    color: black;
}
.icon.card{
    border-radius: 6px;
    border: solid white 1px;
    background-color: white;
}

form.payment input[type=text], form.payment select{
    width: 85vw;
    margin: 0 !important;
    padding: 0 !important;
}

#payment-divider{
    text-align: center;
}
#payment-divider span{
    backdrop-filter: blur(30px);
    padding-inline: 1em
}
#payment-divider hr{
    transform: translateY(18px);
    color: rgb(var(--accent-col));
}

 /* .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
}

.product-box {
    width: calc(50% - 20px);
    max-width: 300px;
    height: auto;
    margin-top: 2em;
    padding-top: 1em;
    text-align: center;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0);

}

h1 {
    font-family: "Oxanium", sans-serif;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}

h2 {
    font-family: "Oxanium", sans-serif;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
}

h3 {
    font-family: 'Sudo Var';
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}

@media (min-width:580px) { 

    .products {
        padding: 2em;
    }

    .product-box {
        width: calc(33.33% - 2em);
        margin-top: 2em;
        padding-top: 1em;    
    }

    h1 {
        font-size: 16px;
    }
    
    h2 {
        font-size: 12px;
    }
    
    h3 {
        font-size: 16px;
    }
}

@media (min-width:1024px) { 

    .products {
        padding: 4em;
    }

    .product-box {
        width: calc(25% - 4em);
        margin-top: 4em;
    }

    h1 {
        font-size: 18px;
    }
    
    h2 {
        font-size: 14px;
    }
    
    h3 {
        font-size: 18px;
    }
}  */