.wide-center {
    width: 90vw;
    margin-inline: auto;

}

#landing-art{
    height: calc(100vh - var(--mobile-header-height));
    max-height: calc(100vh - var(--mobile-header-height));
}
#landing-art div:first-of-type{
    margin-top: 12em;
}
#landing-art h1:last-of-type{
    position: absolute;
    margin-top: 100vw;
    width: 90vw;
}
.layer-imgs{
    height: 90vw;
}
.layer-imgs img{
    width: auto;
    height: 90vw;
    display: block;
    position: absolute;
}


.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.product-card{
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 1rem;
    width: 30%;
    height: 30%;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.product-card-text {
    margin: 1rem 0;
}

.product-card .title,
.product-card .subtitle,
.product-card .price {
    margin: 0.2rem 0;
    text-align: left;
}

.tile-bg{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0);
}

.white-tile-bg{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: solid 2px white;
}

.grid{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
}

.featured img{
    width: 40vw;
}
.featured .tile-bg{
    height: 40vw;
    justify-content: center;
}

.blog-post{
    width: 90vw;
    justify-content: space-around;
}
.blog-post img{
    width: 40vw;
}
.blog-post > div{
    width: 40vw;
}
 
.icon{
    width: 30px;
}

#filter-desktop{
    display: none;
}

#filter-mobile{
    justify-content: space-between;
}

.space-content{
    justify-content: space-between;
}

.products{
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;
}
.products div{
    width: 40vw;
}
.products img{
    width: 20vw;
}

.cart-product{
    position: relative;
    padding: 1em;
    gap: 1em;
    margin-bottom: 1em;
    z-index: 1;
}
.cart-product > div{
    width: 50vw;
    height: 50%;
}
.cart-product img{
    width: 20vw;
}

.cart-product h2, .cart-product h3{
    margin: 0;
}

.small-inline-sp{
    padding-inline: 2em;
}
.med-inline-sp{
    padding-inline: 4em;
}

.med-inline-margin{
    margin-inline: auto;
    width: 90%;
}
.large-inline-margin{
    margin-inline: auto;
    width: 75%;
}

.med-bot-margin{
    margin-bottom: 20px;
}

.cost-divider{
    width: 85%
}

.bold-button{
    height: 4em;
    border-radius: 12px;
    margin-block: 1em;
    color: white;
    background-color: rgb(var(--accent-col));
    border: none;
}

.bg-img{
    z-index: 0;
    position: absolute;
    scale: 0.75;
    margin-top: 8px;
}

.express-checkout {
    flex-wrap: wrap;
    justify-content: space-between;
}
.express-checkout button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: none;
    border-radius: 4px;
}
.express-checkout img {
    height: 20px;
}
.express-checkout button{
    border-radius: 4px;
}
.express-checkout button:nth-child(1){
    width: 100%;
}
.express-checkout button:nth-child(2), .express-checkout button:nth-child(3){
    width: 49%;
    margin-top: 5px;
}

form ::placeholder{
    color: black;
}
.icon.card{
    border-radius: 6px;
    border: solid white 1px;
    background-color: white;
}


form.payment input[type=text], form.payment select{
    width: 85vw;
    margin: 10px 0 0 0 !important;
    padding: 0 !important;
    height: 30px;
    
}
form.payment input[type=text]{
    text-indent: 0.5em;
}

form.payment input[type=radio], form.payment input[type=radio] + label{
    height: 40px;
    line-height: 30px;
    vertical-align: middle;
}
form.payment select{
    text-indent: 0.25em;  
    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: ''; 
}
form.payment input[type=checkbox], form.payment input[type=checkbox] + label{
    margin-bottom: 20px;
}




#payment-divider{
    text-align: center;
}
#payment-divider span{
    backdrop-filter: blur(30px);
    padding-inline: 1em
}
#payment-divider hr{
    transform: translateY(18px);
    color: rgb(var(--accent-col));
}

.split-input{
    height: 35px;
    border-radius: 10px;
    margin-bottom: 1em;
}
.split-input input::placeholder{
    color: black;
}
.split-input input{
    height: inherit;
    border-radius: inherit;
}
.split-input :nth-child(1){
    width: 70%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    text-indent: 1em;
}
.split-input :nth-child(2){
    width: 30%;
    height: inherit;
    background-color: rgba(var(--accent-col), 0.5);
    border: none;
    border-radius: inherit;
    color: white;
}   

.info-field{
    height: 30px;
    text-indent: 1em;
}

 /* .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em;
}

.product-box {
    width: calc(50% - 20px);
    max-width: 300px;
    height: auto;
    margin-top: 2em;
    padding-top: 1em;
    text-align: center;

    background: rgba(255, 255, 255, 0.2);
    border-radius: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0);

}

h1 {
    font-family: "Oxanium", sans-serif;
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}

h2 {
    font-family: "Oxanium", sans-serif;
    font-size: 10px;
    text-align: left;
    padding-left: 10px;
}

h3 {
    font-family: 'Sudo Var';
    font-size: 14px;
    text-align: left;
    padding-left: 10px;
}

@media (min-width:580px) { 

    .products {
        padding: 2em;
    }

    .product-box {
        width: calc(33.33% - 2em);
        margin-top: 2em;
        padding-top: 1em;    
    }

    h1 {
        font-size: 16px;
    }
    
    h2 {
        font-size: 12px;
    }
    
    h3 {
        font-size: 16px;
    }
}

@media (min-width:1024px) { 

    .products {
        padding: 4em;
    }

    .product-box {
        width: calc(25% - 4em);
        margin-top: 4em;
    }

    h1 {
        font-size: 18px;
    }
    
    h2 {
        font-size: 14px;
    }
    
    h3 {
        font-size: 18px;
    }
}  */