@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&family=Press+Start+2P&display=swap');
@import url('https://fonts.cdnfonts.com/css/sudo-var');
.oxanium-font {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .sudo-var-font {
    font-family: 'Sudo Var', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


  .press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  