@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

.oxanium-font {
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: ;
    font-style: normal;
  }

  @import url('https://fonts.cdnfonts.com/css/sudo-var');

  .sudo-var-font {
    font-family: 'Sudo Var', sans-serif;
    font-optical-sizing: auto;
    font-weight: ;
    font-style: normal;
  }


