::placeholder{
    color: white;
    font-size: 12px;
}

input:focus::placeholder {
    color: transparent;
}

.no-transition{
    transition: none !important;
}

.clickable {
    cursor: pointer;
}

